<div class="message is-link">
  <div class="message-header">
      About the project:
  </div>
  <div class="message-body">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi necessitatibus non perferendis ullam voluptatum. Aliquam debitis est fugit impedit voluptate.</p>
  </div>
</div>

<div class="message is-link">
  <div class="message-header">
    Technologies used:
  </div>
  <div class="message-body">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil.</p>
<p>Lorem ipsum dolor sit amet, consectetur.</p>
    <p>Lorem ipsum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut cumque delectus distinctio dolorem eius eligendi numquam perspiciatis porro sapiente, sequi sint!</p>
  </div>
</div>
