<div class="message is-link">
  <div class="message-header">
      About the project:
  </div>
  <div class="message-body">

  </div>
</div>

<div class="message is-link">
  <div class="message-header">
    Technologies used:
  </div>
  <div class="message-body">

  </div>
</div>
