<section class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
      <center>
        <%= image_tag("private-events-logo.png", size: "200x200") %>
      <h1 class="title">
        Welcome to Private Events!
      </h1>
      <h2 class="subtitle">
        <button class="button is-large">Sign In</button>
      </h2>
      </center>
    </div>
  </div>
</section>