<% unless logged_in? %>

  <section class="hero is-link is-medium">
  <div class="hero-body ">
    <div class="container">
      <center>
        <%= image_tag("private-events-logo.png", size: "200x200") %>
      <h1 class="title">
        Welcome to Private Events!
      </h1>
      <h2 class="subtitle">
        <button class="button is-danger is-large"><%= link_to "Sign In", login_path %></button>
        <button class="button is-danger is-large"><%= link_to "Sign Up", signup_path %></button>
      </h2>
      </center>
    </div>
  </div>
</section>
  <%else%>
  <center>
  <%= image_tag("private-events-logo.png", size: "100vh") %>

    </center>
  <% end %>



