<h1 class="title"><%= @event.name %></h1>
<h1 class="subtitle is-6">Created by: <%=User.find_by(id: @event.creator_id).name %></h1>
<br><br>
<h1 class="title">About the event:</h1>
<h1 class="subtitle"><%= @event.description %></h1>