<footer class="footer" id="footr">
  <div class="content has-text-centered">
    <p>
      An assignment from <a href="https://www.theodinproject.com">The Odin Project</a>. Completed by <a href="https://github.com/dvik1950">Viktor D.</a>
    </p>
  </div>
</footer>