<header>
  <nav class="navbar is-link">
<!--  <div class="navbar">-->
    <div class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Private events", root_path, class: "navbar-item is-large" %>
        <%= link_to "Home", root_path, class: "navbar-item"  %>
        <%= link_to "About", about_path, class: "navbar-item"  %>
      </div>

      <div class="navbar-end">
      <%= link_to "Sign In", root_path, class: "navbar-item" %>
      </div>

    </div>
  </nav>
</header>